<section class="crud-section">
    <header class="crud-header">
        <h2 id="page-title">Mantenimiento de Clientes</h2>
        <button type="button" class="btn btn-primary" (click)="abrirFormulario()">+ Nuevo</button>
    </header>

    @if (isLoading()) {
    <div class="loading-indicator" role="status">Procesando solicitud...</div>
    }

    @if (mostrarFormulario()) {
    <app-cliente-form [clienteEnEdicion]="clienteEnEdicion()" [isLoading]="isLoading()"
        (guardar)="guardarCliente($event)" (cancelar)="cancelarEdicion()">
    </app-cliente-form>
    }
    <div class="search-container">
        <input type="text" placeholder="Buscar por nombre, dirección o teléfono..." (input)="actualizarBusqueda($event)"
            class="search-input" />
    </div>


    <app-cliente-list [clientes]="clientesFiltrados()" (editar)="editarCliente($event)"
        (eliminar)="eliminarCliente($event)">
    </app-cliente-list>

</section>