<section class="crud-section">
    <header class="crud-header">
        <h2 id="page-title">Movimientos Bancarios</h2>
        <button type="button" class="btn btn-primary" (click)="abrirFormulario()">+ Nuevo Movimiento</button>
    </header>

    @if (isLoading()) {
    <div class="loading-indicator" role="status">Procesando solicitud...</div>
    }

    @if (mensajeError()) {
    <div class="alert alert-danger" role="alert">
        <strong>¡Error de Transacción!</strong> {{ mensajeError() }}
    </div>
    }

    @if (mostrarFormulario()) {
    <app-movimiento-form [listaCuentas]="listaCuentas()" [isLoading]="isLoading()" (guardar)="guardarMovimiento($event)"
        (cancelar)="cerrarFormulario()">
    </app-movimiento-form>
    }

    <app-movimiento-list [movimientos]="listaMovimientos()" [cuentas]="listaCuentas()" [clientes]="listaClientes()">
    </app-movimiento-list>

</section>