<section class="crud-section">
    <header class="crud-header">
        <h2 id="page-title">Mantenimiento de Cuentas</h2>
        <button type="button" class="btn btn-primary" (click)="abrirFormulario()">+ Nueva Cuenta</button>
    </header>

    @if (isLoading()) {
    <div class="loading-indicator" role="status">Procesando solicitud...</div>
    }

    @if (mostrarFormulario()) {
    <app-cuenta-form [cuentaEnEdicion]="cuentaEnEdicion()" [listaClientes]="listaClientes()" [isLoading]="isLoading()"
        (guardar)="guardarCuenta($event)" (cancelar)="cerrarFormulario()">
    </app-cuenta-form>
    }
    <div class="search-container">
        <input type="text" placeholder="Buscar por número o tipo de cuenta..." (input)="actualizarBusqueda($event)"
            class="search-input" />
    </div>


    <app-cuenta-list [cuentas]="cuentasFiltradas()" [clientes]="listaClientes()" (editar)="editarCuenta($event)"
        (eliminar)="eliminarCuenta($event)">
    </app-cuenta-list>

</section>